discord~=1.0.1
discord-components~=0.5.3
discord-webhook~=0.13.0
PyNaCl~=3.0.1
async-timeout~=3.0.1
config~=0.5.0
pymongo~=3.11.3
dnspython
disputils~=0.2.0
vacefron.py
psutil~=5.8.0
python-dotenv~=0.17.0
flask~=2.0.1
python~=3.8
timeago ~=1.0.15
requests ~=2.25.1